body {
    line-height: 1;
    font-size: 62.5%;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../image/slider_01.png);
}

section {
    padding: 0 12%;
}

// .wrapper {
//     display: block;
//     width: 100%;
//     max-width: 1250px;
//     padding: 0 25px;
//     margin: 0 auto;
// }